*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/dist/

## Project files
data/*
!data/*.sample.json
bin/test

node_modules/
typings/

# Editors
.idea/
